<%- include('./includes/head.ejs') %>

</head>
<body>
  <%- include('./includes/navigation.ejs') %>
  <div class="content-wrapper">
    <form class="form form--add" action="<%= book ? '/edit-book' : '/add-book'%>" method="POST">

      <h2>Add book</h2>
      <div class="form__control">
        <label for="author">Author</label>
        <input class="form__control--text" type="text" name="author" value="<%= !!book ? book.author : '' %>">
      </div>
      <div class="form__control">
        <label for="title">Title</label>
        <input class="form__control--text" type="text" name="title" value="<%= !!book ? book.title : '' %>">
      </div>
      <div class="form__control">
        <label for="pubYear">Publication Year</label>
        <input class="form__control--text" type="number" name="pubYear" value="<%= !!book ? book.pubYear : '' %>">
      </div>
      <div class="form__control">
        <label for="coverImageURL">Imgae URL</label>
        <input class="form__control--text" type="text" name="coverImageURL" value="<%= !!book ? book.coverImageURL : '' %>">
      </div>
      <% if(book) { %>
        <input type="hidden" name="bookId" value="<%= book.id %>">
      <% } %>
      <button class="button" type="submit">Add book</button>
    </form>
  </div>
  <% if(book) { %>
    <script>
      const inputElements = document.getElementsByTagName('input')
      console.log(inputElements)
      for(const el of inputElements) {
        el.addEventListener("change", e => {
          e.target.value = e.target.value
        })
      }
    </script>
  <% } %>
</body>
</html>